In [159]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [160]:
data = pd.read_csv('train.csv')

data.datetime = pd.to_datetime(data.datetime)

#data["date"] = [d.day for d in data["datetime"]]
data["month"] = [d.month for d in data["datetime"]]
data["year"] = [d.year for d in data["datetime"]]
data["hour"] = [d.hour for d in data["datetime"]]
data["hour"] = [d.hour for d in data["datetime"]]
data['weekday']= [d.weekday() for d in data["datetime"]]

data_fet_eng_1 = data
del data_fet_eng_1["datetime"]
del data_fet_eng_1["ID"]

var2_dummy = pd.get_dummies(data_fet_eng_1.var2)
del var2_dummy['C']
data_fet_eng_2 = pd.concat([data_fet_eng_1,var2_dummy],axis=1)
del data_fet_eng_2['var2']
y_train = data_fet_eng_2['electricity_consumption']
del data_fet_eng_2['electricity_consumption']
#data_fet_eng_2.to_csv('train_eng.csv')
data_fet_eng_2.head()

   temperature  var1  pressure  windspeed  month  year  hour  weekday  A  B
0        -11.4 -17.1    1003.0    571.910      7  2013     0        0  1  0
1        -12.1 -19.3     996.0    575.040      7  2013     1        0  1  0
2        -12.9 -20.0    1000.0    578.435      7  2013     2        0  1  0
3        -11.4 -17.1     995.0    582.580      7  2013     3        0  1  0
4        -11.4 -19.3    1005.0    586.600      7  2013     4        0  1  0

In [161]:
test = pd.read_csv('test.csv')
test_ids = test['ID']
test.datetime = pd.to_datetime(test.datetime)
#test["date"] = [d.day for d in test["datetime"]]
test["month"] = [d.month for d in test["datetime"]]
test["year"] = [d.year for d in test["datetime"]]
test["hour"] = [d.hour for d in test["datetime"]]
test["hour"] = [d.hour for d in test["datetime"]]
test['weekday']= [d.weekday() for d in test["datetime"]]

var2_dummy = pd.get_dummies(test.var2)
del var2_dummy['C']
test = pd.concat([test,var2_dummy],axis=1)

del test['var2']
del test["datetime"]
#test.to_csv('test_fet.csv')
del test["ID"]
test.head()

   temperature  var1  pressure  windspeed  month  year  hour  weekday  A  B
0        -10.0 -16.4    1011.0    263.280      7  2013     0        2  1  0
1        -10.0 -20.7    1011.0    267.175      7  2013     1        2  1  0
2        -10.7 -17.1    1003.0    269.555      7  2013     2        2  1  0
3        -13.6 -20.7    1008.0    273.060      7  2013     3        2  1  0
4        -10.7 -17.1    1006.0      1.765      7  2013     4        2  1  0

In [162]:
import xgboost

In [163]:
xgb = xgboost.XGBRegressor(n_estimators=370, base_score=0.5,learning_rate=0.08, gamma=0, subsample=0.9,
                           colsample_bytree=1, max_depth=5)

xgb.fit(data_fet_eng_2,y_train)
predictions = xgb.predict(test)
predictions = predictions.astype('int32')

sub = pd.DataFrame({'ID': test_ids, 'electricity_consumption': predictions})
filename = 'sub_returns.csv'
sub.to_csv(filename, index=False)

In [164]:
predictions[0:100]

array([221, 222, 236, 274, 265, 246, 251, 279, 274, 274, 263, 233, 243,
       292, 258, 278, 275, 277, 242, 241, 415, 299, 327, 374, 272, 320,
       296, 310, 242, 221, 247, 222, 207, 202, 205, 211, 204, 200, 208,
       204, 209, 203, 208, 233, 241, 282, 290, 274, 250, 244, 219, 240,
       232, 219, 210, 218, 210, 211, 213, 205, 242, 267, 255, 241, 276,
       306, 232, 320, 275, 317, 265, 255, 232, 260, 226, 235, 213, 213,
       212, 217, 196, 210, 196, 206, 223, 262, 230, 264, 247, 244, 227,
       223, 238, 240, 234, 254, 204, 234, 203, 210])